<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        .product-div{
            padding-left: 350px;
            display: flex;
            margin: auto;
        }
        #des{
            padding-right: 200px;
            text-align: justify;
        }
    </style>
</head>
<body>
    <div style="display: flex;height: 100vh;">
        <div class="product-div">
            <div class="image-div">
                <img src="{%IMAGE%}" alt='no image'/>
            </div>
            <div class="details-div">
                <h1>{%PRODUCTNAME%}</h1>
                <p><strong>Category</strong> : {%TYPE%}</p>
                <p><strong>Price</strong>  : {%PRICE%}</p>
                <p><strong>Quantity</strong> : {%QUANTITY%}</p>
                <p><strong>Discount</strong> : {%DISCOUNT%}</p>
                <p id='des'><strong>Description</strong> : {%DESCRIPTION%}</p>
            </div>
        </div>
    </div>
</body>
</html>